<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>	
	<div id="app">
		姓名 <input type="text" v-model="name">   班级 <input type="text" v-model="school">
		<button @click="add">add</button>
		<ul>
			<li v-for="(obj,index) in arr">{{obj.name}},{{obj.school}}
			<button @click="del(index)">del</button></li>
		</ul>
	</div>
	<script src="vue.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				name:'',
				school:'',
				arr:[]
			},
			methods:{
				add:function(){
					if(this.name != '' && this.school != ''){
						this.arr.push({name:this.name,school:this.school});
						this.name = '';
						this.school = '';
					}
				},
				del:function(index){
					this.arr.splice(index,1);
				}
			}
		})
	</script>
</body>
</html>